<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"
      data-preloader="disable">

<head>
    <!--page title-->
    <div th:replace="partials/title-meta :: title-meta('Sign Up')"></div>

    <!-- Page CSS -->
    <div th:replace="partials/head-css :: head-css"></div>

    <style>
        .modal-backdrop.show {
            opacity: var(--vz-backdrop-opacity);
            display: none;
        }
        </style>
</head>

<body>
<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="/" class="d-inline-block auth-logo">
                                <img src="/assets/images/logo-light.png" alt="" height="100">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h3 class="text-primary">Create New Account</h3>
                                <p class="text-muted">TeamPlus 에 오신것을 환영합니다!</p>
                            </div>
                            <!--오류메세지-->
                            <div class="alert alert-danger" th:if="${idErrorMessage}">
                                <span th:text="${idErrorMessage}"></span>
                            </div>
                            <!--오류메세지-->
                            <div class="p-2 mt-4">
                                <form class="needs-validation" action="/users/snsUpdate" method="post">
                                    <label class="form-label">Profile Image<span
                                            class="text-danger">*</span></label>
                                    <div class="mt-4">
                                        <div class="text-center">
                                            <div class="profile-user position-relative d-inline-block mx-auto  mb-3">
                                                <img alt="user-profile-image"
                                                     class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                                                     id="profileURLInput" src="/assets/images/users/user-dummy-img.jpg">
                                                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                                    <input class="profile-img-file-input" id="profile-img-file-input"
                                                           name="profileURL" type="hidden">
                                                    <label class="profile-photo-edit avatar-xs"
                                                           for="profile-img-file-input">
                                                        <button class="avatar-title rounded-circle bg-light text-body"
                                                                data-bs-target="#modifyProfileImage"
                                                                data-bs-toggle="modal">
                                                            <i class="ri-camera-fill"></i>
                                                        </button>
                                                    </label>
                                                </div>
                                                <div aria-hidden="true" aria-labelledby="createProjectModalLabel" class="modal fade zoomIn"
                                                     id="modifyProfileImage"
                                                     tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header p-3 bg-soft-success">
                                                                <h5 class="modal-title" id="createProjectModalLabel">
                                                                    Choose Your Image</h5>
                                                                <button aria-label="Close" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        id="ProfileImage-close"
                                                                        type="button"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-4">
                                                                    <label class="form-label">Profile Pictures</label>
                                                                    <div id="image-list">
                                                                        <!-- 이미지 목록을 여기에 동적으로 추가합니다. -->
                                                                    </div>
                                                                </div>
                                                                <div class="hstack gap-2 justify-content-end">
                                                                    <button class="btn btn-ghost-success" data-bs-dismiss="modal"
                                                                            type="button"><i
                                                                            class="ri-close-line align-bottom"></i>
                                                                        Close
                                                                    </button>
                                                                    <button class="btn btn-primary" data-bs-dismiss="modal"
                                                                            id="confirmSelection"
                                                                            type="button">선택
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end modal-dialog -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 중복검사 ━━━━━━━━━━━━━━━━━━━━━━-->
                                        <div class="mb-3">
                                        <label for="name" class="form-label">Username <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               required>
                                        <div class="invalid-feedback">
                                            성함을 입력해주세요
                                        </div>
                                    </div>
                                        <label class="form-label" for="lastnameInput">NickName <span class="text-danger">*</span></label>
                                        <div id="nick-error-message"></div>
                                        <div class="mb-3" style="display: flex; align-items: center;">
                                            <input class="form-control" id="lastnameInput" name="NickName" placeholder="닉네임을 입력해주세요" required type="text" style="flex: 1;">
                                            <button class="btn btn-success" onclick="nickNameCheck()" style="margin-left: 5px;" type="button">중복검사</button>
                                        </div>
                                    <div class="mb-3">
                                        <label for="useremail" class="form-label">Email <span
                                                class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="useremail" name="email" required>                                        <div class="invalid-feedback">
                                        Email을 입력해주세요
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="job" class="form-label">Job</label>
                                            <select name="job" data-choices
                                                    data-choices-text-unique-true id="job">
                                                <option value="3D 애니메이터">3D 애니메이터</option>
                                                <option value="디지털 영상 편집 전문가">디지털 영상 편집 전문가</option>
                                                <option value="웹 마스터">웹 마스터</option>
                                                <option value="웹 PD">웹 PD</option>
                                                <option value="게임 그래픽 디자이너">게임 그래픽 디자이너</option>
                                                <option value="게임 프로그래머">게임 프로그래머</option>
                                                <option value="IT 전문 강사">IT 전문 강사</option>
                                                <option value="프로젝트 매니저">프로젝트 매니저</option>
                                                <option value="네트워크 디자이너">네트워크 디자이너</option>
                                                <option value="리눅스 전문가">리눅스 전문가</option>
                                                <option value="소프트웨어 개발자">소프트웨어 개발자</option>
                                                <option value="웹 마케터">웹 마케터</option>
                                                <option value="인터넷 쇼핑몰 운영자">인터넷 쇼핑몰 운영자</option>
                                                <option value="그래픽 디자이너">그래픽 디자이너</option>
                                                <option value="CAD/CAM 전문가">CAD/CAM 전문가</option>
                                                <option value="네트워크 전문가">네트워크 전문가</option>
                                                <option value="시스템 엔지니어">시스템 엔지니어</option>
                                                <option value="보안 전문가">보안 전문가</option>
                                                <option value="IP 전문가">IP 전문가</option>
                                                <option value="웹 기획자">웹 기획자</option>
                                                <option value="웹 카피라이터">웹 카피라이터</option>
                                                <option value="정보통신 기술자">정보통신 기술자</option>
                                                <option value="프로게이머">프로게이머</option>
                                                <option value="SI/SM/솔루션">SI/SM/솔루션</option>
                                                <option value="웹 개발자">웹 개발자</option>
                                                <option value="애플리케이션 개발자">애플리케이션 개발자</option>
                                                <option value="게임 개발자">게임 개발자</option>
                                                <option value="프론트엔드 개발자">프론트엔드 개발자</option>
                                                <option value="보안 개발자">보안 개발자</option>
                                                <option value="백엔드 개발자">백엔드 개발자</option>
                                                <option value="풀스택 개발자">풀스택 개발자</option>
                                                <option value="컴파일러 개발자">컴파일러 개발자</option>
                                                <option value="빅데이터 개발자">빅데이터 개발자</option>
                                                <option value="애플리케이션 개발자">애플리케이션 개발자</option>
                                                <option value="Desktop 개발자">Desktop 개발자</option>
                                                <option value="모바일 개발자">모바일 개발자</option>
                                                <option value="그래픽 개발자">그래픽 개발자</option>
                                                <option value="데이터 사이언티스트">데이터 사이언티스트</option>
                                                <option value="CRM 개발자">CRM 개발자</option>
                                                <option value="AI 개발자">AI 개발자</option>
                                                <option value="엔지니어">엔지니어</option>
                                                <option value="기타 IT 업종">기타 IT 업종</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">Password must contain:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b>
                                        </p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter
                                            (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b>
                                            letter (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)
                                        </p>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Sign Up</button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <div class="signin-other-title">
                                            <h5 class="fs-13 mb-4 title text-muted">Create account with</h5>
                                        </div>

                                        <div>
                                            <button type="button"
                                                    class="btn btn-primary btn-icon waves-effect waves-light"><i
                                                    class="ri-facebook-fill fs-16"></i></button>
                                            <button type="button"
                                                    class="btn btn-danger btn-icon waves-effect waves-light"><i
                                                    class="ri-google-fill fs-16"></i></button>
                                            <button type="button"
                                                    class="btn btn-dark btn-icon waves-effect waves-light"><i
                                                    class="ri-github-fill fs-16"></i></button>
                                            <button type="button"
                                                    class="btn btn-info btn-icon waves-effect waves-light"><i
                                                    class="ri-twitter-fill fs-16"></i></button>
                                        </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0"> 이미 회원이신가요?
                            <a href="signin" class="fw-semibold text-primary text-decoration-underline"> 로그인 </a>
                        </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy;
                            <script>document.write(new Date().getFullYear())</script> TeamPlus. Crafted with <i
                                    class="mdi mdi-heart text-danger"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>

<div th:replace="partials/vendor-scripts :: scripts"></div>
<script>
    // 비밀번호 숨김/표시 토글
    const passwordInput = document.getElementById('password-input');
    const passwordAddon = document.getElementById('password-addon');

    passwordAddon.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });

    // 폼 제출 시 유효성 검사
    /*    const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', function (event) {
            const username = document.getElementById('username').value;
            const password = passwordInput.value;

            if (!username || !password) {
                event.preventDefault(); // 폼 제출을 막음
                alert('아이디와 비밀번호를 모두 입력해주세요.');
            }
        });*/
</script>
<!-- particles js -->
<script src="/assets/libs/particles.js/particles.js"></script>
<!-- particles app js -->
<script src="/assets/js/pages/particles.app.js"></script>
<!-- validation init -->
<script src="/assets/js/pages/form-validation.init.js"></script>
<!-- password create init -->
<script src="/assets/js/pages/passowrd-create.init.js"></script>
<!-- profile-setting init js -->
<script src="/assets/js/pages/profile-setting.init.js"></script>
<script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

<th:block layout:fragment="pagejs">
    <!-- profile-setting init js -->
    <script src="/assets/js/pages/profile-setting.init.js"></script>
    <script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
</th:block>
</body>

</html>