<html>

<body>
	<div th:fragment="sidebar" th:remove="tag">
		<!-- ========== App Menu ========== -->
		<div class="app-menu navbar-menu">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<!-- Dark Logo-->
				<a href="/" class="logo logo-dark">
					<span class="logo-sm">
						<img src="/assets/images/logo-sm.png" alt="" height="30">
					</span>
					<span class="logo-lg">
						<img src="/assets/images/logo-dark.png" alt="" height="50">
					</span>
				</a>
				<!-- Light Logo-->
				<a href="/" class="logo logo-light">
					<span class="logo-sm">
						<img src="/assets/images/logo-sm.png" alt="" height="30">
					</span>
					<span class="logo-lg">
						<img src="/assets/images/logo-light.png" alt="" height="50">
					</span>
				</a>
				<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
					id="vertical-hover">
					<i class="ri-record-circle-line"></i>
				</button>
			</div>

			<div id="scrollbar">
				<div class="container-fluid">

					<div id="two-column-menu">
					</div>
					<ul class="navbar-nav" id="navbar-nav">
						<li class="menu-title"><span data-key="t-menu">Menu</span></li>
						<a href="/" class="nav-link" data-key="t-ecommerce"> <i class="ri-home-2-fill"></i> <span data-key="t-dashboards">Home</span> </a>
						<a href="../private/tasklist" class="nav-link" data-key="t-ecommerce"> <i class="ri-user-2-fill"></i> <span data-key="t-dashboards">Private</span> </a>
						<li class="nav-item">
							<a class="nav-link menu-link" href="#sidebarProjects" data-bs-toggle="collapse"
								role="button" aria-expanded="false" aria-controls="sidebarDashboards">
								<i class="ri-book-2-fill"></i> <span data-key="t-dashboards">Projects</span>
							</a>
							<div class="collapse menu-dropdown" id="sidebarProjects">
								<ul class="nav nav-sm flex-column">
									<li class="nav-item">
										<a href="../project/list" class="nav-link" data-key="t-ecommerce"> 참여중인 프로젝트 </a>
									</li>
									<li class="nav-item">
										<a href="../project/create" class="nav-link" data-key="t-ecommerce"> 프로젝트 생성 </a>
									</li>
									<li class="nav-item">
										<a href="../project/join" class="nav-link" data-key="t-ecommerce"> 프로젝트 참가 </a>
									</li>
								</ul>
							</div>
						</li>

						<li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Pages</span></li>
						<li class="nav-item">
							<a class="nav-link menu-link" href="#sidebar" data-bs-toggle="collapse" role="button"
							   aria-expanded="false" aria-controls="sidebar">
								<i class="ri-account-circle-line"></i> <span
									data-key="t-authentication">TeamPlus</span>
							</a>
							<div class="collapse menu-dropdown" id="sidebar">
								<ul class="nav nav-sm flex-column">
							<li class="nav-item">
							<a href="../info/project-index-sitemap" class="nav-link" data-key="t-sitemap"> 사이트 맵 </a>
							</li>
									<li class="nav-item">
										<a href="../info/project-index-faq" class="nav-link" data-key="t-faqs"> 자주 묻는 질문 </a>
									</li>
								</ul>
								</div>
						</li>
					</ul>
				</div>
				<!-- Sidebar -->
			</div>

			<div class="sidebar-background"></div>
		</div>
		<!-- Left Sidebar End -->
		<!-- Vertical Overlay-->
		<div class="vertical-overlay"></div>
	</div>
</body>

</html>