<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{project-index-layout}">

<!-- todo ★ 이 페이지는 (로그인) ▶ (프로젝트 리스트)에서 눌렀을때 이동할 페이지입니다. -->

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('FAQs')"></div>
</th:block>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<div class="card rounded-0 bg-soft-success mx-n4 mt-n4 border-top">
					<div class="px-4">
						<div class="row">
							<div class="col-xxl-5 align-self-center">
								<div class="py-4">
									<h4 class="display-6 coming-soon-text">자주 묻는 질문</h4>
									<p class="text-success fs-15 mt-3">FAQ에서 질문에 대한 답변을 찾을 수 없는 경우 언제든지 TeamPlus에게 연락하거나 이메일을 보내실 수 있습니다.
										신속하게 답변해드리겠습니다!</p>
									<div class="hstack flex-wrap gap-2">
										<a type="button" class="btn btn-primary btn-label rounded-pill" data-bs-toggle="modal" data-bs-target="#inquiry" data-bs-whatever="@mdo">
											<i class="ri-mail-line label-icon align-middle rounded-pill fs-16 me-2"></i>teamplus0419@naver.com
										</a>
									</div>
								</div>
							</div>
							<div class="col-xxl-3 ms-auto">
								<div class="mb-n5 pb-1 faq-img d-none d-xxl-block">
									<img src="/assets/images/faq-img.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->

				<div class="modal fade" id="inquiry" tabindex="-1" aria-labelledby="varyingcontentModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header" style="background-color: #405189;">
								<h5 class="modal-title" id="varyingcontentModalLabel" style="color: white; font-weight: bold;">문의하기</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body" id="body">
								<div class="mb-3">
									<label for="recipient-name" class="col-form-label"><span style="color: red;">*</span> 문의자 e-mail</label>
									<input type="text" class="form-control" id="recipient-name" placeholder="이메일을 입력해주세요">
								</div>
								<div class="mb-3">
									<label for="message-text" class="col-form-label"><span style="color: red;">*</span> 문의 내용</label>
									<textarea class="form-control" id="message-text" style="resize: none; height: 200px;" placeholder="문의 내용을 입력해주세요"></textarea>
								</div>
							</div>
							<div class="modal-footer" id="footer">
								<span style="margin-right: auto; color: red;" id="fail-info"></span>
								<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
								<button type="button" id="inquiry-send" class="btn btn-primary">Send message</button>
							</div>
						</div>
					</div>
				</div>
				<script src="/js/modal.js"></script>

				<div class="row justify-content-evenly">
					<div class="col-lg-4">
						<div class="mt-3">
							<div class="d-flex align-items-center mb-2">
								<div class="flex-shrink-0 me-1">
									<i class="ri-question-line fs-24 align-middle text-success me-1"></i>
								</div>
								<div class="flex-grow-1">
									<h5 class="fs-16 mb-0 fw-semibold">일반적인 질문</h5>
								</div>
							</div>

							<div class="accordion accordion-border-box" id="genques-accordion">
								<div class="accordion-item">
									<h2 class="accordion-header" id="genques-headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#genques-collapseOne" aria-expanded="true"
											aria-controls="genques-collapseOne">
											팀 프로젝트는 어떻게 생성하나요?
										</button>
									</h2>
									<div id="genques-collapseOne" class="accordion-collapse collapse show"
										aria-labelledby="genques-headingOne" data-bs-parent="#genques-accordion">
										<div class="accordion-body">
											저희 TeamPlus 에 로그인 또는 회원가입을 하신 이후에 상단에 프로젝트를 클릭 하시면
											사이드바에서 프로젝트 생성이 있습니다. 프로젝트 생성 메뉴를 클릭하시면 쉽게 생성하실 수 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="genques-headingTwo">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#genques-collapseTwo"
											aria-expanded="false" aria-controls="genques-collapseTwo">
											팀원은 어떻게 초대하나요?
										</button>
									</h2>
									<div id="genques-collapseTwo" class="accordion-collapse collapse"
										aria-labelledby="genques-headingTwo" data-bs-parent="#genques-accordion">
										<div class="accordion-body">
											팀 프로젝트를 생성하신 이후에 초대 코드와 프로젝트 비밀번호를 팀원분들께 전달해주시면
											전달받은 팀원분들이 프로젝트 참가하실때 입력하고 들어오시면 초대가 가능합니다.
											만약, 프로젝트 초대 코드를 잊으실 경우 프로젝트 개요에서 확인하실 수 있습니다.
											또한, 팀원은 제한 수 없이 가능하며 초대코드와 프로젝트 비밀번호만 정확하게 입력하시면
											팀원을 무제한으로 초대하실 수 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="genques-headingThree">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#genques-collapseThree"
											aria-expanded="false" aria-controls="genques-collapseThree">
											TODO 리스트에서 방금 생성한 NEW TODO가 갑자기 사라졌는데 왜그런건가요?
										</button>
									</h2>
									<div id="genques-collapseThree" class="accordion-collapse collapse"
										aria-labelledby="genques-headingThree" data-bs-parent="#genques-accordion">
										<div class="accordion-body">
											NEW TODO에 있는 리스트는 고객님께서 등록하신 이후 1시간 뒤에 자동으로 진행전으로 업데이트가 되고
											진행전 TODO에서 스크롤바를 내리시면 확인하실 수 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="genques-headingFour">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#genques-collapseFour"
											aria-expanded="false" aria-controls="genques-collapseFour">
											TeamPlus에 있는 기능들 전부 무료인가요?
										</button>
									</h2>
									<div id="genques-collapseFour" class="accordion-collapse collapse"
										aria-labelledby="genques-headingFour" data-bs-parent="#genques-accordion">
										<div class="accordion-body">
											네, 저희 TeamPlus는 전부 무료로 사용 가능하며 유료 결제 화면이 뜰 경우 바로 닫아주시기 바랍니다.
										</div>
									</div>
								</div>
							</div>
							<!--end accordion-->
						</div>
					</div>

					<div class="col-lg-4">
						<div class="mt-3">
							<div class="d-flex align-items-center mb-2">
								<div class="flex-shrink-0 me-1">
									<i class="ri-user-settings-line fs-24 align-middle text-success me-1"></i>
								</div>
								<div class="flex-grow-1">
									<h5 class="fs-16 mb-0 fw-semibold">계정 관리</h5>
								</div>
							</div>

							<div class="accordion accordion-border-box" id="manageaccount-accordion">
								<div class="accordion-item">
									<h2 class="accordion-header" id="manageaccount-headingOne">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseOne"
											aria-expanded="false" aria-controls="manageaccount-collapseOne">
											회원가입은 어떻게 하나요?
										</button>
									</h2>
									<div id="manageaccount-collapseOne" class="accordion-collapse collapse"
										aria-labelledby="manageaccount-headingOne"
										data-bs-parent="#manageaccount-accordion">
										<div class="accordion-body">
											회원가입은 TeamPlus 메인 화면 오른쪽 상단에서 회원가입 메뉴 클릭 후 양식에 맞게 입력해주시면 회원가입이 완료됩니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="manageaccount-headingTwo">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#manageaccount-collapseTwo" aria-expanded="true"
											aria-controls="manageaccount-collapseTwo">
											로그인은 어떻게 하나요?
										</button>
									</h2>
									<div id="manageaccount-collapseTwo" class="accordion-collapse collapse show"
										aria-labelledby="manageaccount-headingTwo"
										data-bs-parent="#manageaccount-accordion">
										<div class="accordion-body">
											로그인은 TeamPlus 메인 화면 오른쪽 상단에서 로그인 메뉴 클릭 후 양식에 맞게 입력해주시면 로그인이 완료됩니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="manageaccount-headingThree">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseThree"
											aria-expanded="false" aria-controls="manageaccount-collapseThree">
											비밀번호를 잊었을 경우 어떻게 하나요?
										</button>
									</h2>
									<div id="manageaccount-collapseThree" class="accordion-collapse collapse"
										aria-labelledby="manageaccount-headingThree"
										data-bs-parent="#manageaccount-accordion">
										<div class="accordion-body">
											비밀번호를 잊으셨을 경우 비밀번호 변경이 가능합니다.회원가입 하실 때 입력하셨던 이메일로
											TeamPlus 인증번호로 인증을 하시면 비밀번호를 쉽게 변경하실 수 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="manageaccount-headingFour">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseFour"
											aria-expanded="false" aria-controls="manageaccount-collapseFour">
											회원 정보 수정이 가능한가요?
										</button>
									</h2>
									<div id="manageaccount-collapseFour" class="accordion-collapse collapse"
										aria-labelledby="manageaccount-headingFour"
										data-bs-parent="#manageaccount-accordion">
										<div class="accordion-body">
											네, 회원 정보 수정도 가능합니다. 닉네임은 다른 사용자들과 겹치면 안되기 때문에 중복검사가 필수로 들어갑니다.
											또한, 본인이 아닌 다른 사람이 악의적으로 정보를 수정하려는 경우를 대비하여 정보를 수정 하실 때 이메일 인증이
											필수로 들어갑니다.
										</div>
									</div>
								</div>
							</div>
							<!--end accordion-->
						</div>
					</div>

					<div class="col-lg-4">
						<div class="mt-3">
							<div class="d-flex align-items-center mb-2">
								<div class="flex-shrink-0 me-1">
									<i class="ri-shield-keyhole-line fs-24 align-middle text-success me-1"></i>
								</div>
								<div class="flex-grow-1">
									<h5 class="fs-16 mb-0 fw-semibold">개인 정보 보호 및 보안</h5>
								</div>
							</div>

							<div class="accordion accordion-border-box" id="privacy-accordion">
								<div class="accordion-item">
									<h2 class="accordion-header" id="privacy-headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											data-bs-target="#privacy-collapseOne" aria-expanded="true"
											aria-controls="privacy-collapseOne">
											이메일 인증은 왜 하나요?
										</button>
									</h2>
									<div id="privacy-collapseOne" class="accordion-collapse collapse show"
										aria-labelledby="privacy-headingOne" data-bs-parent="#privacy-accordion">
										<div class="accordion-body">
											이메일 인증을 진행하는 이유는 개인 정보 보호를 위해 진행을 하고 있고 본인이 아닌 다른 사람이 악의적으로
											계정을 해킹하는 경우의 수를 생각하고 진행하고 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="privacy-headingTwo">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#privacy-collapseTwo"
											aria-expanded="false" aria-controls="privacy-collapseTwo">
											회원가입 할때 입력한 정보가 노출되면 어떻게 하나요?
										</button>
									</h2>
									<div id="privacy-collapseTwo" class="accordion-collapse collapse"
										aria-labelledby="privacy-headingTwo" data-bs-parent="#privacy-accordion">
										<div class="accordion-body">
											회원가입 할때 입력한 정보는 절대 노출되는 일 없게 철저히 관리중에 있습니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="privacy-headingThree">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#privacy-collapseThree"
											aria-expanded="false" aria-controls="privacy-collapseThree">
											팀 프로젝트에 초대하지 않은 팀원이 들어오면 어떻게 하나요?
										</button>
									</h2>
									<div id="privacy-collapseThree" class="accordion-collapse collapse"
										aria-labelledby="privacy-headingThree" data-bs-parent="#privacy-accordion">
										<div class="accordion-body">
											초대코드를 프로젝트 생성할 때마다 각각 다른 코드를 제공하고 있고
											그럼에도 불구하고 초대하지 않은 팀원이 들어왔을 경우 팀원 내보내기 기능과
											비밀번호 변경 기능이 있습니다. 비밀번호를 더욱 더 보안성있게 입력해서 팀원들께 공유해주시길 바랍니다.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="privacy-headingFour">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse" data-bs-target="#privacy-collapseFour"
											aria-expanded="false" aria-controls="privacy-collapseFour">
											이메일을 잊어버렸을 경우 어떻게 하나요?
										</button>
									</h2>
									<div id="privacy-collapseFour" class="accordion-collapse collapse"
										aria-labelledby="privacy-headingFour" data-bs-parent="#privacy-accordion">
										<div class="accordion-body">
											이메일을 잊으셨을 때는 저희 TeamPlus에 이메일을 보내주시면 신속히 답변 드리겠습니다.
										</div>
									</div>
								</div>
							</div>
							<!--end accordion-->
						</div>
					</div>
				</div>
			</div>
			<!--end col-->.
		</div>
		<!--end row-->
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

	<th:block layout:fragment="modal">

	</th:block>
	<th:block layout:fragment="pagejs">
	</th:block>
</body>