<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{project-index-layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('File Manager')"></div>
</th:block>

<head>
	<link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div layout:fragment="content">

		<div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
			<div class="file-manager-content w-100 p-3 py-0">
				<div class="mx-n3 pt-4 px-4 file-manager-content-scroll" data-simplebar>
					<div>
						<div class="table-responsive">
							<table class="table align-middle table-nowrap mb-0">
								<thead class="table-active">
									<tr>
										<th scope="col" class="text-center">No</th>
										<th scope="col" class="text-center">File Name</th>
										<th scope="col" class="text-center">제목</th>
										<th scope="col" class="text-center">내용</th>
										<th scope="col" class="text-center">다운로드 수</th>
										<th scope="col" class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody id="file-list">
									<tr th:each="list:${dataList}" class="text-center">
										<td th:text="${list.r}"></td>
										<td th:text="${list.dataURL}"></td>
										<td th:text="${list.title}"></td>
										<td th:text="${list.content}"></td>
										<td th:text="${list.count}"></td>
											<td><div class="dropdown">
												<button class="btn btn-ghost-primary btn-icon btn-sm dropdown"
														type="button" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="ri-more-2-fill fs-16 align-bottom"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><a class="dropdown-item download-link" th:href="|@{download(file=${list.dataURL})}|"
														  role="button">Download</a></li>
												</ul>
											</div>
											</td>
									</tr>

								</tbody>
							</table>
						</div>
						<ul id="pagination" class="pagination pagination-lg"></ul>
						<div class="align-items-center mt-2 row g-3 text-center text-sm-start">
							<div class="col-sm-auto">
								<ul
									class="pagination pagination-separated pagination-sm justify-content-center justify-content-sm-start mb-0">
									<li class="page-item disabled">
										<a href="#" class="page-link">←</a>
									</li>
									<li class="page-item">
										<a href="#" class="page-link">1</a>
									</li>
									<li class="page-item active">
										<a href="#" class="page-link">2</a>
									</li>
									<li class="page-item">
										<a href="#" class="page-link">3</a>
									</li>
									<li class="page-item">
										<a href="#" class="page-link">→</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="file-manager-detail-content p-3 py-0">
				<div class="mx-n3 pt-3 px-3 file-detail-content-scroll" data-simplebar>
					<div id="folder-overview">
						<div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed">
							<h5 class="flex-grow-1 fw-semibold mb-0">Overview</h5>
							<div>
								<button type="button"
									class="btn btn-soft-danger btn-icon btn-sm fs-16 close-btn-overview">
									<i class="ri-close-fill align-bottom"></i>
								</button>
							</div>
						</div>
						<div id="simple_dount_chart"
							data-colors='["--vz-info", "--vz-danger", "--vz-primary", "--vz-success"]'
							class="apex-charts mt-3" dir="ltr"></div>
						<div class="mt-4">
							<ul class="list-unstyled vstack gap-4">
								<li>
									<div class="d-flex align-items-center">
										<div class="flex-shrink-0">
											<div class="avatar-xs">
												<div class="avatar-title rounded bg-soft-secondary text-secondary">
													<i class="ri-file-text-line fs-17"></i>
												</div>
											</div>
										</div>
										<div class="flex-grow-1 ms-3">
											<h5 class="mb-1 fs-15">Documents</h5>
											<p class="mb-0 fs-12 text-muted">2348 files</p>
										</div>
										<b>27.01 GB</b>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center">
										<div class="flex-shrink-0">
											<div class="avatar-xs">
												<div class="avatar-title rounded bg-soft-success text-success">
													<i class="ri-gallery-line fs-17"></i>
												</div>
											</div>
										</div>
										<div class="flex-grow-1 ms-3">
											<h5 class="mb-1 fs-15">Media</h5>
											<p class="mb-0 fs-12 text-muted">12480 files</p>
										</div>
										<b>20.87 GB</b>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center">
										<div class="flex-shrink-0">
											<div class="avatar-xs">
												<div class="avatar-title rounded bg-soft-warning text-warning">
													<i class="ri-folder-2-line fs-17"></i>
												</div>
											</div>
										</div>
										<div class="flex-grow-1 ms-3">
											<h5 class="mb-1 fs-15">Projects</h5>
											<p class="mb-0 fs-12 text-muted">349 files</p>
										</div>
										<b>4.10 GB</b>
									</div>
								</li>
								<li>
									<div class="d-flex align-items-center">
										<div class="flex-shrink-0">
											<div class="avatar-xs">
												<div class="avatar-title rounded bg-soft-primary text-primary">
													<i class="ri-error-warning-line fs-17"></i>
												</div>
											</div>
										</div>
										<div class="flex-grow-1 ms-3">
											<h5 class="mb-1 fs-15">Others</h5>
											<p class="mb-0 fs-12 text-muted">9873 files</p>
										</div>
										<b>33.54 GB</b>
									</div>
								</li>
							</ul>
						</div>
						<div class="pb-3 mt-auto">
							<div class="alert alert-danger d-flex align-items-center mb-0">
								<div class="flex-shrink-0">
									<i class="ri-cloud-line text-danger align-bottom display-5"></i>
								</div>
								<div class="flex-grow-1 ms-3">
									<h5 class="text-danger fs-14">Upgrade to Pro</h5>
									<p class="text-muted mb-2">Get more space for your...</p>
									<button class="btn btn-sm btn-danger"><i
											class="ri-upload-cloud-line align-bottom"></i> Upgrade Now</button>
								</div>
							</div>
						</div>
					</div>
					<div id="file-overview" class="h-100">
						<div class="d-flex h-100 flex-column">
							<div class="d-flex align-items-center pb-3 border-bottom border-bottom-dashed mb-3 gap-2">
								<h5 class="flex-grow-1 fw-semibold mb-0">File Preview</h5>
								<div>
									<button type="button"
										class="btn btn-ghost-primary btn-icon btn-sm fs-16 favourite-btn">
										<i class="ri-star-fill align-bottom"></i>
									</button>
									<button type="button"
										class="btn btn-soft-danger btn-icon btn-sm fs-16 close-btn-overview">
										<i class="ri-close-fill align-bottom"></i>
									</button>
								</div>
							</div>

							<div class="pb-3 border-bottom border-bottom-dashed mb-3">
								<div
									class="file-details-box bg-light p-3 text-center rounded-3 border border-light mb-3">
									<div class="display-4 file-icon">
										<i class="ri-file-text-fill text-secondary"></i>
									</div>
								</div>
								<button type="button" class="btn btn-icon btn-sm btn-ghost-success float-end fs-16"><i
										class="ri-share-forward-line"></i></button>
								<h5 class="fs-16 mb-1 file-name">html.docx</h5>
								<p class="text-muted mb-0 fs-12"><span class="file-size">0.3 KB</span>, <span
										class="create-date">19 Apr, 2022</span></p>
							</div>
							<div>
								<h5 class="fs-12 text-uppercase text-muted mb-3">File Description :</h5>

								<div class="table-responsive">
									<table class="table table-borderless table-nowrap table-sm">
										<tbody>
											<tr>
												<th scope="row" style="width: 35%;">File Name :</th>
												<td class="file-name">html.docx</td>
											</tr>
											<tr>
												<th scope="row">File Type :</th>
												<td class="file-type">Documents</td>
											</tr>
											<tr>
												<th scope="row">Size :</th>
												<td class="file-size">0.3 KB</td>
											</tr>
											<tr>
												<th scope="row">Created :</th>
												<td class="create-date">19 Apr, 2022</td>
											</tr>
											<tr>
												<th scope="row">Path :</th>
												<td class="file-path">
													<div class="user-select-all text-truncate">
														*:\projects\src\assets\images</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div>
									<h5 class="fs-12 text-uppercase text-muted mb-3">Share Information:</h5>
									<div class="table-responsive">
										<table class="table table-borderless table-nowrap table-sm">
											<tbody>
												<tr>
													<th scope="row" style="width: 35%;">Share Name :</th>
													<td class="share-name">\\*\Projects</td>
												</tr>
												<tr>
													<th scope="row">Share Path :</th>
													<td class="share-path">velzon:\Documents\</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="mt-auto border-top border-top-dashed py-3">
								<div class="hstack gap-2">
									<button type="button" class="btn btn-soft-primary w-100"><i
											class="ri-download-2-line align-bottom me-1"></i> Download</button>
									<button type="button" class="btn btn-soft-danger w-100 remove-file-overview"
										data-remove-id="" data-bs-toggle="modal"
										data-bs-target="#removeFileItemModal"><i
											class="ri-close-fill align-bottom me-1"></i> Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<form action="filesSave" method="post" enctype="multipart/form-data">
			<h5 class="fs-14 mb-1" style="padding-top: 10px">Project Files</h5>
			<p class="text-muted">Add Project Files All.</p>
				<input type="hidden" name="projectNo" th:value="${project.projectNo}">
				<input type="hidden" name="userNo" th:value="${session.user.userNo}">
			<div class="dropzone">
				<div class="fallback">
					<div class="col-lg-4">
						<div class="mb-3">
                    		<label class="form-label" for="title" style="">제목</label>
								<input type="text" class="form-control" id="title" name="title"
									placeholder="Enter File title" style="width:200px;">
						</div>
					</div>
					<div class="col-lg-8">
						<div class="mb-3">
							<label class="form-label" for="content">설명</label>
								<input type="text" class="form-control" id="content" name="content"
									placeholder="Enter File content" style="width:400px;">
						</div>
					</div>
					<input name="file" type="file" accept="image/*">
				</div>
			</div>
				<div class="text-end mb-3">
					<button type="submit" class="btn btn-success w-sm">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<!-- end col -->
		</div>
	</div>
	</div>
	<!-- end card -->
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const downloadLinks = document.querySelectorAll(".download-link");
			downloadLinks.forEach(function(link) {
				link.addEventListener("click", function(event) {
					event.preventDefault(); // 기본 링크 동작(페이지 이동 X)

					const downloadUrl = "/download?file="+[[${dataURL}]];

					window.location.href = downloadUrl;
				});
			});
		});
	</script>


	<th:block layout:fragment="modal">

		<!-- START CREATE FOLDER MODAL -->
		<div class="modal fade zoomIn" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content border-0">
					<div class="modal-header p-3 bg-soft-success">
						<h5 class="modal-title" id="createFolderModalLabel">Create Folder</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" id="addFolderBtn-close"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form autocomplete="off" class="needs-validation createfolder-form" id="createfolder-form"
							novalidate>
							<div class="mb-4">
								<label for="foldername-input" class="form-label">Folder Name</label>
								<input type="text" class="form-control" id="foldername-input" required
									placeholder="Enter folder name">
								<div class="invalid-feedback">Please enter a folder name.</div>
								<input type="hidden" class="form-control" id="folderid-input" value=""
									placeholder="Enter folder name">
							</div>
							<div class="hstack gap-2 justify-content-end">
								<button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i
										class="ri-close-line align-bottom"></i> Close</button>
								<button type="submit" class="btn btn-primary" id="addNewFolder">Add Folder</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- END CREATE FOLDER MODAL -->

		<!-- START CREATE FILE MODAL -->
		<div class="modal fade zoomIn" id="createFileModal" tabindex="-1" aria-labelledby="createFileModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content border-0">
					<div class="modal-header p-3 bg-soft-success">
						<h5 class="modal-title" id="createFileModalLabel">Create File</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" id="addFileBtn-close"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form autocomplete="off" class="needs-validation createfile-form" id="createfile-form"
							novalidate>
							<div class="mb-4">
								<label for="filename-input" class="form-label">File Name</label>
								<input type="text" class="form-control" id="filename-input" value="" required
									placeholder="Enter file name" />
								<div class="invalid-feedback">Please enter a file name.</div>
								<input type="hidden" class="form-control" id="fileid-input" value=""
									placeholder="Enter file name">
							</div>
							<div class="hstack gap-2 justify-content-end">
								<button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i
										class="ri-close-line align-bottom"></i> Close</button>
								<button type="submit" class="btn btn-primary" id="addNewFile">Create</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- END CREATE FILE MODAL -->

		<!-- removeFileItemModal -->
		<div id="removeFileItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
							id="close-removefilemodal"></button>
					</div>
					<div class="modal-body">
						<div class="mt-2 text-center">
							<lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
								colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
							<div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
								<h4>Are you sure ?</h4>
								<p class="text-muted mx-4 mb-0">Are you sure you want to remove this item ?</p>
							</div>
						</div>
						<div class="d-flex gap-2 justify-content-center mt-4 mb-2">
							<button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn w-sm btn-danger" id="remove-fileitem">Yes, Delete
								It!</button>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- removeFileItemModal -->
		<div id="removeFolderModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
							id="close-removeFoldermodal"></button>
					</div>
					<div class="modal-body">
						<div class="mt-2 text-center">
							<lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
								colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
							<div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
								<h4>Are you sure ?</h4>
								<p class="text-muted mx-4 mb-0">Are you sure you want to remove this folder ?</p>
							</div>
						</div>
						<div class="d-flex gap-2 justify-content-center mt-4 mb-2">
							<button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn w-sm btn-danger" id="remove-folderList">Yes, Delete
								It!</button>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</th:block>

	<th:block layout:fragment="pagejs">

		<!-- apexcharts -->
		<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

		<script src="/assets/js/pages/file-manager.init.js"></script>

		<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

		<script src="/assets/libs/dropzone/dropzone-min.js"></script>

		<script src="/assets/js/pages/ecommerce-product-create.init.js"></script>

	</th:block>
</body>