<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{project-index-layout}">

<th:block layout:fragment="pagetitle">
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Create Project')"></div>
</th:block>

<head>
	<!-- Plugins css -->
	<link href="/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="partials/page-title :: page-title('Create Project','Projects')"></div>
	<form action="/project/create" method="post" name="project-create-form">


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">공개범위_미정(Privacy)</h5>
					</div>
					<div class="card-body">
						<div>
							<label for="choices-privacy-status-input" class="form-label">Status</label>
							<select class="form-select" data-choices data-choices-search-false
									id="choices-privacy-status-input">
								<option value="Private" selected>Private</option>
								<option value="Team">Team</option>
							</select>
						</div>
					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->

				<div class="card">
					<div class="card-body">
						<div class="mb-3">
							<label class="form-label" for="project-title-input">프로젝트명(Project Title)</label>
							<input type="text" class="form-control" id="project-title-input" name="title"
								   placeholder="Enter project title">
						</div>


						<div class="mb-3">
							<label class="form-label">프로젝트 설명(Project Description)</label>
								<textarea type="text" id="ckeditor-classic" name="description" placeholder="프로젝트 설명을 입력하세요.">
								</textarea>
						</div>
					</div>
					<!-- end card body -->
				</div>
				<!-- end card -->

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title mb-0">프로젝트 시작 예정일 (startDate)</h5>
							</div>
							<div class="card-body">
								<input type="date" name="startDate" class="choices__inner">
								<!-- <div class="input-group">
                                     <input type="text" id="event-start-date"
                                            class="form-control flatpickr flatpickr-input"
                                            placeholder="Select date" readonly required>
                                     <span class="input-group-text"><i
                                             class="ri-calendar-event-line"></i></span>-->
							</div>
						</div>
						<!-- end card -->
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title mb-0">프로젝트 종료 예정일 (DueDate)</h5>
							</div>
							<div class="card-body">
								<input type="date" name="dueDate">
							</div>
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">프로젝트 비밀번호 (Password)</h5>
					</div>
					<div class="card-body">
						<input type="password" name="password" class="form-control"
							   placeholder="프로젝트 참가 시 사용할 비밀번호를 입력하세요.">
					</div>
				</div>
				<!-- end card -->

				<div class="text-end mb-4">
					<!--<button type="submit" class="btn btn-danger w-sm">Delete</button>
                        <button type="submit" class="btn btn-secondary w-sm">Draft</button>-->
					<button type="submit" class="btn btn-success w-sm">Create</button>
				</div>
			</div>
			<!-- end col -->
		</div>
	</form>
</div>


<th:block layout:fragment="modal">
	<script layout:fragment="script" th:inline="javascript">
		// 애트리뷰트 result 를 받아서 js 객체 result에 저장
		const result=[[${result}]]
		// modal객체 생성
		const modal = new bootstrap.Modal(document.querySelector(".modal"))
		// result가 있으면
		if(result) {
			// id가 messege인 요소의 내부값을 result로 설정
			document.querySelector('#message').innerHTML=result;
			// 모달을 화면에 출력
			modal.show();
		}
	</script>
</th:block>

<th:block layout:fragment="pagejs">

	<!-- ckeditor -->
	<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

	<!-- dropzone js -->
	<script src="/assets/libs/dropzone/dropzone-min.js"></script>
	<!-- project-create init -->
	<script src="/assets/js/pages/project-create.init.js"></script>
	<!--

        &lt;!&ndash; calendar min js &ndash;&gt;
        <script src="/assets/libs/fullcalendar/main.min.js"></script>

        &lt;!&ndash; Calendar init &ndash;&gt;
        <script src="/assets/js/pages/calendar.init.js"></script>

    -->
</th:block>
</body>

</html>