<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{project-index-layout}" lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark"
	  data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
	
<th:block layout:fragment="pagetitle" >
	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Team Plus')"></div>
</th:block>

<head>
	<!-- jsvectormap css -->
	<link href="/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

	<!--Swiper slider css2-->
	<link href="/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

	<!--page title-->
	<div th:replace="partials/title-meta :: title-meta('Sign In')"></div>

	<!-- Page CSS -->
	<div th:replace="partials/head-css :: head-css"></div>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-12">
			<div class="d-flex align-items-lg-center flex-lg-row flex-column">
				<div class="flex-grow-1">
					<!-- Join Project Start -->
					<div class="auth-page-wrapper pt-5">
						<!-- auth page bg -->
						<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
							<div class="bg-overlay"></div>
							<div class="shape">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
									<path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
								</svg>
							</div>
						</div>
						<!-- auth page content -->
						<div class="auth-page-content">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center mt-sm-5 mb-4 text-white-50">
											<div>
												<a class="d-inline-block auth-logo">
													<img src="/assets/images/logo-light.png" alt="" height="100">
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- end row -->

								<div class="row justify-content-center">
									<div class="col-md-8 col-lg-6 col-xl-5">
										<div class="card mt-4">
											<div class="card-body p-4">
												<div class="text-center mt-2">
													<h5 class="text-primary"> Let's Start Project ! </h5>
													<p class="text-muted"> Enter the invitation code to join the project </p>
												</div>
												<div class="p-2 mt-4">
													<form action="join" method="post">
														<div class="mb-3">
															<label for="projectNo" class="form-label">Invitation Code</label>
															<input type="text" class="form-control" id="projectNo" name="projectNo" placeholder="초대 코드를 입력하세요">
														</div>
														<div class="mb-3">
															<label class="form-label" for="password">Password</label>
															<div class="position-relative auth-pass-inputgroup mb-3">
																<input type="password" class="form-control pe-5 password-input" placeholder="비밀번호를 입력하세요" id="password" name="password">
																<button
																		class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
																		type="submit" id="password-addon"><i
																		class="ri-eye-fill align-middle"></i>
																</button>
															</div>
														</div>
														<div class="mt-4">
															<button class="btn btn-success w-100" type="submit"> Join Project </button>
														</div>
													</form>
												</div>
											</div>
											<!-- end card body -->
										</div>
										<!-- end card -->
									</div>
								</div>
								<!-- end row -->
							</div>
							<!-- end container -->
						</div>
						<!-- end auth page content -->
						<!-- footer -->
						<footer class="footer">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<p class="mb-0 text-muted">&copy;
												<script>document.write(new Date().getFullYear())</script> TeamPlus. Crafted with <i class="mdi mdi-heart text-danger"></i>
											</p>
										</div>
									</div>
								</div>
							</div>
						</footer>
						<!-- end Footer -->
					</div>
					<!-- Join Project End -->
				</div>
			</div>
			<!-- end card header -->
		</div>
		<!--end col-->
	</div>
	<th:block layout:fragment="pagejs">
		<!-- particles js -->
		<script src="/assets/libs/particles.js/particles.js"></script>

		<!-- particles app js -->
		<script src="/assets/js/pages/particles.app.js"></script>

		<!-- apexcharts -->
		<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

		<!-- Vector map-->
		<script src="/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
		<script src="/assets/libs/jsvectormap/maps/world-merc.js"></script>

		<!--Swiper slider js-->
		<script src="/assets/libs/swiper/swiper-bundle.min.js"></script>

		<!-- Dashboard init -->
		<script src="/assets/js/pages/dashboard-ecommerce.init.js"></script>
	</th:block>
</body>

</html>