<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{includes/index-header}">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <style>
        body{
            font-size: 120%;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <div id="index-content" style="text-align: center; background-color: #FCFCFC;">
            <div th:utext="${contents}"></div>
        </div>
        <div style="margin-top: 100px; margin-bottom: 100px; text-align: center;">
            <a href="/">처음으로 →</a>
        </div>
    </div>
</body>
</html>